.card{
		border:0px;
	}

.card-header{
	font-family: $font-title;
	background-color: #ffffff;
	font-size: 24px;
	color: $color-title;
	font-weight: 700;
	border:0px;
	border-bottom: 1px solid #ff701f;
	font-weight: 900;
}

.card-border
{
	margin-bottom: 10px;
	background-color: #eeeeee;
	border-radius: 10px;
	padding: 5px;
}